* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-image: url(https://pixabay.com/get/54e1d24b4f5aaa14ead98375c22f307a083ed8e55b5973487d297a.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

main {
  width: 90vw;
  max-width: 1170px;
  margin: 5rem auto;
  display: grid;
  gap: 2rem;
}
